body{
    background-image:url(img/pink.jpg);
	background-position:center center;
	background-size:auto;
}

.warna{
	font-size:13px;
	width:85%;
	background-color: whitesmoke;
	border-radius:5px;
	height:auto;
	margin-top:4%;
	margin-left:3%;
	padding:40px;
}

input::placeholder{
	font-size:13px;
}

.form-control{
	font-size:14px;
}